:root {
  --bg-one: hsl(31, 77%, 52%);
  --bg-two: hsl(184, 100%, 22%);
  --bg-three: hsl(179, 100%, 13%);
  --p-col: hsla(0, 0%, 100%, 0.75);
  --bg-h-btn-col: hsl(0, 0%, 95%);
  --font-size: 15px;
  --primary-font: 'Lexend Deca', sans-serif;
  --secondary-font: 'Big Shoulders Display', sans-serif;
}

.btn {
  padding: 1rem 2rem;
  background-color: var(--bg-h-btn-col);
  text-decoration: none;
  border-radius: 50px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}